// Color
$red-400: #500C0B;
$red-300: #A02928;
$red-200: #C94B5A;
$red-100: #E86565;
$green-400: #2C332F;
$green-300: #3C5947;
$green-200: #70885D;
$green-100: #A2B593;
$black: #000000;
$gray-300: #808080;
$gray-200: #D9D9D9;
$gray-100: #F4F4F4;
$white: #FFFFFF;

// Widths
$site-max-width: 1180px;
$full-width: 960px; 

// Font Families
$sans-serif: 'Merriweather Sans', sans-serif;
$serif: 'Merriweather', serif;

// Animation
$duration: 200ms;
$ease: ease-in-out;

// Breakpoints
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;